$background: #404552;
$overlay-background: #2f343f;
$text: #bac3cf;
$selected-text: #ffffff;

* { 
	all: unset;
}

.container {
	margin: 8px;
}

.bar-window {
	background-color: $background;
	border-radius: 5px;
	padding: 2px;
	box-shadow: 0px 0px 4px #000000;
	font-family: Cantarell, MaterialIcons;
}

.apps-window {
	background-color: $background;
	border-radius: 5px;
	padding: 4px;
	box-shadow: 0px 0px 4px #000000;
	font-family: Cantarell, MaterialIcons;
	font-size: 20px;
}

.time-window {
	background-color: $overlay-background;
	border-radius: 5px;
	padding: 4px;
	box-shadow: 0px 0px 4px #000000;
	font-family: Cantarell;
}

.bar-button {
	background-color: $overlay-background;
	border-radius: 5px;
	color: $text;
	padding: 4px 8px;
	margin: 2px;
}

.bar-button:hover {
	color: $selected-text;
}

.bar-box {
	background-color: $overlay-background;
	border-radius: 5px;
	padding: 0px 4px;
	margin: 2px;
}

.bar-nested-button {
	color: $text;
	margin: 4px;
}

.bar-nested-button:hover {
	color: $selected-text;
}

.bar-nested-label {
	color: $text;
	margin: 4px;
}

.scale {
	margin: 4px;
}

.scale trough {
	background-color: $text;
	border-radius: 5px;
	min-width: 100px;
	min-height: 4px;
}

.scale trough highlight {
	background-color: $selected-text;
	border-radius: 5px;
}

.apps-box {
	background-color: $overlay-background;
	border-radius: 5px;
	padding: 0px 8px;
	margin: 4px;
}

.apps-nested-button {
	color: $text;
	margin: 8px;
}

.apps-nested-button:hover {
	color: $selected-text;
}

.apps-nested-label {
	color: $text;
	margin: 8px;
}

.scroll {
	margin: 4px;
}

.input {
	color: $text;
	caret-color: $text;
	margin: 8px;
}

.image {
	min-width: 30px;
	min-height: 30px;
	margin: 8px;
}

calendar {
	color: $text;
}

calendar:selected {
	color: $selected-text;
}

tooltip {
	background-color: #2f343f;
	border-radius: 5px;
	opacity: 0.8;
	color: $text;
}
